/*Body & html*/
body, html {
    height: 100%;
    width: 100%;
    margin: 2px;  
  }
/*---------------------------- preloader area ----------------------------*/
 
.titlepage {
    text-align: center;
    padding-bottom: 60px;
}
/*Parallax effect*/
.parallax {
    /* The image used */
    background-image: url("images/banner.png");
      
    /* Set a specific height & width */
    min-height: 70%; 
    max-width: 100%;
         
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*Topic heading*/
  .photog {
     z-index: 9999;
     position: absolute;
     text-align: left;
     top: 30%;
     left: 10%;
     
}

.photog h1 {
     padding: 0;
     font-size: 89px;
     line-height: 90px;
     color: #fff;
     font-weight: bold;
     text-align: left;
     padding-bottom: 70px;
     letter-spacing: 10px;
}


/** about section **/

.about {
    background: #fff;
    padding: 80px 50px;
    position: relative;
    margin: 0 70px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
    border-radius: 60px;
    margin-top: -130px;
}

.container_width {max-width: 1380px;
 padding: 0 15px;
 display: block;
 margin: 0 auto;
 clear: both;


}

.about .titlepage {
     padding-bottom: 0;
}
.about .titlepage h1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #353d47;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    display: inline-block;
    
}
.about .titlepage hr {
   background: #f81018;
   height: 3px;
   left: 0;
   border-radius: 20px; 
}

.about .titlepage p {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    padding: 35px 0px 50px 0px;
}


/** end about section **/

/** coronata section **/

.coronata {
    background: #fff;
    padding-top: 100px;
    
  
}

.coronata .titlepage {
     padding-bottom: 0;
}

.coronata .titlepage p {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #111111;
    padding: 35px 0px 50px 0px;
}

/** end coronata section **/

/** protect **/

.protect {
    padding: 0 30px;
     padding-top: 80px;
    padding-bottom: 25px;
}


.protect_bg  {
  
    /* The image used */
     background-image: url("images/banner.png");
      
     /* Set a specific height & width */
     max-width: 100%;
     border-radius: 20px;
          
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.protect_bg .container{
    padding: 15px;
}
.protect .titlepage p {
     padding-top: 5px;
   
}

.desktop {
    padding: 45px 20px 30px 20px;
    background: #fff;
    border-radius: 20px;
    width: 100%;
}

.protect_box h3 {
    color: #0d0e0e;
    font-size: 17px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 5px;

}

.protect_box span {
    color: #081419;
    font-weight:normal;
}

/** end protect **/

